[submodule "articubot_ws/src/diffdrive_arduino"]
	path = articubot_ws/src/diffdrive_arduino
	url = https://github.com/joshnewans/diffdrive_arduino.git
[submodule "articubot_ws/src/serial"]
	path = articubot_ws/src/serial
	url = https://github.com/joshnewans/serial.git
[submodule "articubot_ws/src/rplidar_ros2"]
	path = articubot_ws/src/rplidar_ros2
	url = https://github.com/babakhani/rplidar_ros2
