<?xml version="1.0"?>  <!-- still need to indicate xml -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"> <!-- omit robot name (allowing us to insert into any robot) -->
    
    <material name="blue">
        <color rgba="0 0 0.5 1" />
    </material>

    <material name="grey">
        <color rgba="0.5 0.5 0.5 1" />
    </material>

    <material name="black">
        <color rgba="0.1 0.1 0.1 1" />
    </material>
</robot>